<script id="PredictiveTemplate" type="text/template">
  <div class="predictive-result__layout">
    {% raw %}
      {{#if products}}
        <div data-type-products>
          <div class="grid grid--small">
            {{#products}}
              <div class="grid__item medium-up--one-third">
                <a href="{{url}}" class="predictive__result">
                  <div class="predictive__result-image">
                    {{#if image }}
                      <img src="{{image}}" alt="{{title}}">
                    {{/if}}
                  </div>
                  <div class="predictive__result-meta">
                    <div class="grid-product__title">
                      {{title}}
                    </div>
                    {% endraw %}{%- if settings.predictive_search_show_vendor -%}{% raw %}
                      <div class="grid-product__vendor">{{vendor}}</div>
                    {% endraw %}{%- endif -%}{% raw %}
                    {% endraw %}{%- if settings.predictive_search_show_price -%}{% raw %}
                      <div class="grid-product__price">
                        {{#if on_sale }}
                          <span class="grid-product__price--original">{{{compare_price_max}}}</span>
                        {{/if}}
                        {{{price}}}
                      </div>
                    {% endraw %}{%- endif -%}{% raw %}
                  </div>
                </a>
              </div>
            {{/products}}
          </div>
        </div>
      {{/if}}

      {{#if collections}}
        <div data-type-collections>
          <p class="h6 predictive__label">{% endraw %}{{ 'general.search.collections' | t }}{% raw %}</p>
          <div class="grid grid--small">
            {{#collections}}
              <div class="grid__item medium-up--one-third">
                <a href="{{url}}" class="predictive__result">
                  <div class="predictive__result-image">
                    {{#if image }}
                      <img src="{{image}}" alt="{{title}}">
                    {{/if}}
                  </div>
                  <div class="predictive__result-meta">
                    <div class="grid-product__title">
                      {{title}}
                    </div>
                  </div>
                </a>
              </div>
            {{/collections}}
          </div>
        </div>
      {{/if}}

      {{#if pages}}
        <div data-type-pages>
          <p class="h6 predictive__label">{% endraw %}{{ 'general.search.pages' | t }}{% raw %}</p>
          {{#pages}}
            <div>
              <a href="{{url}}">
                {{title}}
              </a>
            </div>
          {{/pages}}
        </div>
      {{/if}}

      {{#if articles}}
        <div data-type-articles>
          <p class="h6 predictive__label">{% endraw %}{{ 'general.search.articles' | t }}{% raw %}</p>
          <div class="grid grid--small">
            {{#articles}}
              <div class="grid__item medium-up--one-third">
                <a href="{{url}}" class="predictive__result">
                  <div class="predictive__result-image">
                    {{#if image }}
                      <img src="{{image}}" alt="{{title}}">
                    {{/if}}
                  </div>
                  <div class="predictive__result-meta">
                    {{title}}
                  </div>
                </a>
              </div>
            {{/articles}}
          </div>
        </div>
      {{/if}}
    {% endraw %}
  </div>
</script>
