{%- style -%}
.custom-about-history-title {
  font-size: 50px;
  width: 200px;
}
@media (max-width: 768px) {
  .custom-about-history-title {
    text-align: center;
    width: 100%;
    margin: 0px;
  }

  .custom-about-image {
    order: 2;
  }

  .custom-about-text {
    order: 1;
  }
}
{%- endstyle -%}
{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

  <div class="page-width">
    {% capture image_layout %}
      <div class="feature-row__item custom-about-image">
        <div style="margin: 0 auto; max-width: {{ section.settings.image_width }}px;">
          {% if section.settings.image != blank %}
            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
              {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="feature-row__image lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ section.settings.image.alt }}">
            </div>
          {% else %}
            <div class="image-wrap">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endcapture %}
  
    <div class="feature-row" data-aos>
      {% if section.settings.layout == 'left' %}
        {{ image_layout }}
      {% endif %}
  
      <div class="custom-about-text feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} larger-text">
        {% if section.settings.subtitle != blank %}
          <div class="custom-about-history-title">{{ section.settings.subtitle }}</div>
        {% endif %}
        {%- if section.settings.title != blank -%}
          <div class="custom-about-history-title">{{ section.settings.title | escape }}</div>
        {% endif %}
      </div>
  
      {% if section.settings.layout == 'right' %}
        {{ image_layout }}
      {% endif %}
    </div>
  </div>
  
  {%- if section.settings.divider -%}</div>{%- endif -%}
  
  {% schema %}
    {
      "name": "Image with text",
      "class": "index-section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Image width",
          "default": 500,
          "min": 100,
          "max": 500,
          "step": 10,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subheading",
          "default": "Improved"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Image on left"
            },
            {
              "value": "right",
              "label": "Image on right"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "divider",
          "label": "Show section divider",
          "default": false
        }
      ]
    }
  {% endschema %}
  