{%- if section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 768px) {
      .background-media-text--{{ section.id }} {
        background-image: url({{ section.settings.image | img_url: '1x1' }});
        height: {{section.settings.height}}px;
      }

      .background-media-text__container {
        height: {{ section.settings.height}}px;
      }

      .custom-image_text {
        top: 0px;
      }

      .custom-image_text span {
        font-size: 50px !important;
      }
    }

    .custom-image_text {
      position: absolute;
      width: 100%;
      height: 100%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0px 20px;
    }

    .custom-image_text span {
      font-size: 60px;
      z-index: 100;
    }

    .custom-image_text .layer {
      background-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  {%- endstyle -%}
{%- endif -%}

<div
  data-section-id="{{ section.id }}"
  data-section-type="background-image"
  class="background-media-text background-media-text--{{ section.id }} background-media-text--{{ section.settings.height }} loaded"
  data-aos="background-media-text__animation"
  {% if section.settings.parallax %}data-parallax="true"{% endif %}>

  <div class="background-media-text__container">
    {%- if section.settings.parallax -%}
      <div class="parallax-container">
        {%- if section.settings.image != blank -%}
          {%- style -%}
            .background-media-text--{{ section.id }} .background-media-text__image {
              background-position: {{ section.settings.focal_point }};
            }
          {%- endstyle -%}
          <div
            class="parallax-image background-media-text__image lazyload"
            {% if section.settings.image != blank %}
              data-bgset="{% render 'bgset', image: section.settings.image %}"
              data-sizes="auto"
            {% endif %}></div>
        {%- else -%}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    {%- else -%}
      {%- if section.settings.image != blank -%}
        {%- style -%}
          .background-media-text__image--{{ section.id }} {
            object-position: {{ section.settings.focal_point }};
            font-family: "object-fit: cover; object-position: {{ section.settings.focal_point }};";
          }
        {%- endstyle -%}

        {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        <img
          class="image-fit background-media-text__image background-media-text__image--{{ section.id }} lazyload"
          src=""
          data-src="{{ img_url }}"
          data-aspectratio="{{ section.settings.image.aspect_ratio }}"
          data-sizes="auto"
          data-parent-fit="cover"
          alt="{{ section.settings.image.alt | escape }}">
        <noscript>
          <img
            class="image-fit background-media-text__image background-media-text__image--{{ section.id }} lazyloaded"
            src="{{ section.settings.image | img_url: '1800x' }}"
            alt="{{ section.settings.image.alt }}">
        </noscript>
      {%- else -%}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    {%- endif -%}
  </div>

  <div class="custom-image_text">
    <div class="layer"></div>
    <span>
      {{ section.settings.text }}
    </span>
  </div>
</div>

<div class="background-media-text__spacer background-media-text--{{ section.settings.height }}"></div>

{% schema %}
  {
    "name": "Custom Image Text",
    "class": "index-section--flush",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "ABC"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "focal_point",
        "label": "Image focal point",
        "info": "Used to keep the subject of your photo in view.",
        "default": "center",
        "options": [
          {
            "value": "20% 0",
            "label": "Top left"
          },
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "80% 0",
            "label": "Top right"
          },
          {
            "value": "20% 50%",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "80% 50%",
            "label": "Right"
          },
          {
            "value": "20% 100%",
            "label": "Bottom left"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "80% 100%",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Text on left"
          },
          {
            "value": "right",
            "label": "Text on right"
          }
        ]
      },
      {
        "type": "range",
        "id": "height",
        "label": "Section height",
        "default": 550,
        "min": 450,
        "max": 750,
        "step": 100,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "parallax",
        "label": "Enable parallax",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Custom image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
